# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# vendor dirs
vendor

# composer lock files
composer.lock

# PHPUnit
.phpunit.result.cache
coverage.html

# PHP CS Fixer
/.php-cs-fixer.cache
/.php-cs-fixer.php
