{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "tests/runtime/infection.log",
        "summary": "tests/runtime/summary.log",
        "perMutator": "tests/runtime/per-mutator.md"
    },
    "testFrameworkOptions": "-vvv"
}
