<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integrational tests">
            <directory>./tests/Integrational</directory>
        </testsuite>
    </testsuites>
</phpunit>
